# dependencies
node_modules/
.pnp/
.pnp.js

# testing
coverage/

# next.js
.next/
out/

# production
build/

# misc
.DS_Store
*.pem

# debug logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel/

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE files
.idea/
.vscode/

# bmad
/_bmad/

# testing artifacts
test-results/
playwright-report/
blob-report/
playwright/.cache/
reports/
.stryker-tmp

# production
storybook-static/

# lighthouse
.lighthouseci/
lhci-reports-desktop/
lhci-reports-mobile/

# k6 config
src/test/load/config.json
src/test/load/results

# memlab
src/test/memory-leak/results
